.page_404{ 
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

}

.page_404 .container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-65%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}

.page_404 h1{
    padding: 5px;
    font-size: 6rem;
    overflow: hidden;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-bottom: -15px;

}

.page_404 .title{
    font-size: 10rem;
    line-height: 150px;

}
.page_404 .sub{
    white-space: nowrap;
    letter-spacing: 5px;
    
}

.page_404 h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.page_404 img{
    height: auto;
    width: 900px;
    position:absolute;
    bottom:0%;
    left:50%;
    transform: translate(-50%, 28.8%);
    overflow: hidden;
    z-index: -1;
}

@media screen and (max-width: 550px) {
    .page_404 .title{
        font-size: 7rem;
        line-height: 100px;

    }
    .page_404 .sub{
        font-size: 3rem;
    }
    
    .page_404 h3{
        margin-top: 20px;
        font-size: 1.4rem;
    }
    .page_404 img{
        width: 500px;
    }
    
}